{% extends 'base.html.twig' %}

{% block title %}{{ 'Delete User'|trans }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>{{ 'Delete User'|trans }}</h1>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
